/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/


//#ED5565


//colores flat
//rojo
$grapefruit:	#ED5565;
$grapefruit-dark:	#DA4453;
//naranjo
$bittersweet:	#FC6E51;
$bittersweet-dark:	#FC6E51;
//amarillo
$sunflower:	#FFCE54;
$sunflower-dark:	#F6BB42;
//verde
$grass:	#A0D468;
$grass-dark:	#8CC152;
//calipso
$mint:	#48CFAD;
$mint-dark:	#37BC9B;
//celeste
$aqua:	#4FC1E9;
$aqua-dark:	#3BAFDA;
//azul
$blue:	#5D9CEC;
$blue-dark:	#4A89DC;
//lavanda
$lavander:	#AC92EC;
$lavander-dark:	#967ADC;
//rosado
$pink:	#EC87C0;
$pink-dark:	#D770AD;
//light-gray
$light-gray:	#F5F7FA;
$light-gray-dark:	#E6E9ED;
//medium-gray
$medium-gray:	#CCD1D9;
$medium-gray-dark:	#AAB2BD;
//dark-gray
$dark-gray:	#656D78;
$dark-gray-dark:	#434A54;


$base-color: $dark-gray;

//dark
$stable:	$light-gray-dark;
$positive:	$blue !default;
$calm:	$mint;
$balanced:	$grass;
$energized: $sunflower;
$assertive:	$grapefruit;
$royal:	$lavander;
$dark:	$dark-gray-dark;	




$button-positive-border: $positive !default;
$dark:								#434A54!default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$base-color:                      #434A54 !default;

$content-padding:                 16px !default;

//iconos
$icon-size: 20px;
$tab-area: 44px;

$width-btn-floating : 56px;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "sass/_animate.scss";
@import "sass/_base.scss";
@import "sass/_botones.scss";
.login {
	background: $mint;
	label {
		//color:#fff;
	}
	.login-redes-sociales {
		padding:0 16px;
		p {
			color:#fff;
			text-align: center;
		}
		.row {
			padding:0;
		}
		.button {
			margin:0;
			&.button-google {
				background:#dd4b39;
				color:#fff;
				border-color:#dd4b39;
			}
			&.button-facebook {
				background:#3B5998;
				color:#fff;
				border-color:#3B5998;
			}
			&.button-twitter {
				background:#4099FF;
				color:#fff;
				border-color:#4099FF;
			}


			
		}
	}
	.card-login {
		padding:16px;
		label {
			text-align: center;
			display:block;
		}
		.list {
			
			.item {
				&.item-input {
					border:1px solid #ddd;
				}
			}
		}
	}
}
