<ion-view title="Mi Comunidad">
    <ion-nav-buttons side="right">
        <button tton menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-bar class="nav-bar  bar-positive">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding content-home has-header">
        <div class="mensaje-icon">
            <i class="icon icon-sad-mi-comunidad"></i>
            <h3>Error</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
        <button class="button button-full button-positive">Volver</button>
        
       


    </ion-content>
</ion-view>
