<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">{{mensaje.estado}}</h1>
        <div class="buttons">
			<button class="button button-clear" ng-click="closeModal()"><i class="ion-android-close"></i></button>
		</div>
    </ion-header-bar>
    <ion-content class="padding">
        {{mensaje.texto}}

        <button class="button button-full button-calm" ng-click="closeModal()">OK</button>
    </ion-content>
</ion-modal-view>