<ion-nav-view class="login" name="menuContent" animation="slide-left-right">
    <div class="bar bar-header bar-calm">
        <h1 class="title">Crear Cuenta</h1>
    </div>
    <ion-content class="has-header">
        <form name="crearCuentaForm" novalidate form-manager>
            <div class="list list-inset padding">
                <label class="item item-input">
                    <i ng-if="crearCuentaForm.usu_nombre.$error.required===true" class="icon-req icon-asterisk-mi-comunidad animated fadeInLeft"></i>
                    <input type="text" placeholder="Nombre" ng-model="usuario.usu_nombre" required maxlength="20"
                           name="usu_nombre">
                </label>

                <label class="item item-input">
                    <i class="icon-req icon-asterisk-mi-comunidad animated fadeInLeft" ng-if="crearCuentaForm.usu_correo.$error.required===true"></i>
                    <input type="email" placeholder="Mail" ng-model="usuario.usu_correo" required name="usu_correo"
                           overwrite-email>
                </label>
                <span class="msj error animated fadeIn" ng-if="crearCuentaForm.usu_correo.$error.email===true">Email Inválido</span>

                <label class="item item-input">
                    <i class="icon-req icon-asterisk-mi-comunidad animated fadeInLeft" ng-if="crearCuentaForm.usu_clave.$error.required===true"></i>
                    <input type="password" placeholder="Password" ng-model="usuario.usu_clave" name="usu_clave" required
                           ng-minlength="4" maxlength="10">
                </label>
                <span class="msj error animated fadeIn" ng-if="crearCuentaForm.usu_clave.$error.minlength===true">Insegura</span>
                <label class="item item-input">
                     +569
                    <input type="number" ng-model="usuario.usu_celular" name="usu_celular">
                </label>
                <span class="msj error animated fadeIn" ng-if="crearCuentaForm.usu_celular.$error.number===true">Celular Inválido</span>

                <button type="submit" class="button button-full button-calm" ng-click="guardarUsuario(crearCuentaForm)">
                Crear Cuenta
                </button>
                <div class="msj-form">
                    <p><i class="icon-req icon-asterisk-mi-comunidad"></i> Campos Obligatorios</p>
                </div>
            </div>
        </form>
        <p></p>
    </ion-content>
</ion-nav-view>
