<ion-nav-view class="login" name="menuContent" animation="slide-left-right">
    <ion-content>
        <div class="login-logo">
            <span class="icon icon-micomunidad-mi-comunidad"></span>
        </div>
        
        <div class="login-redes-sociales">
            <p>Ingresa a MiComunidad usando tus cuentas de redes sociales </p>

            <div class="row">
                <div class="col">
                    <button class="button button-google button-block button-small"><i class="icon ion-social-googleplus"></i> Google +</button>
                </div>
                <div class="col">
                    <button ng-click="fbLogin()" class="button button-facebook button-block button-small"><i class="icon ion-social-facebook" ></i> Facebook</button>
                </div>
                <div class="col">
                    <button class="button button-twitter button-block button-small"><i class="icon ion-social-twitter"></i> Twitter</button>
                </div>
            </div>

        </div>
        <div class="padding card card-login">

            <p>O si prefieres usando tu usuario y contraseña.</p>

            <form name="loginForm" novalidate form-manager>
                <div class="list animated" ng-class="{'shake': errorLogin}">
                    <label class="item item-input">
                        <input type="text" ng-model="usuario.usu_correo" placeholder="Mail" required>
                    </label>

                    <label class="item item-input">
                        <input type="password" ng-model="usuario.usu_clave" placeholder="Clave" required>
                    </label>

                    <small><span>{{msjerror}}</span> &nbsp</small>
                   
                    
                    <a class="button button-block button-calm" href="" ng-click="login(loginForm);">Login</a>
                </div>
               
            </form>
            <p>Si no estás registrado crea tu cuenta</p>

            <a class="button button-block button-stable" href="#/crearcuenta">
                Crear Cuenta
            </a>

            {{user}}

            
        </div>
    </ion-content>


</ion-nav-view>
