<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left"></ion-nav-buttons>
            <ion-nav-back-button class="button-icon ion-chevron-left"></ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="menuContent" animation="slide-right"></ion-nav-view>
        <ion-footer-bar class="bar-assertive" ng-if="showFooter"></ion-footer-bar>
    </ion-side-menu-content>

    <ion-side-menu side="right" class='menuLateral'>
        <fade-bar></fade-bar>
        <!-- Usuario -->
        <header class="bar bar-calm bar-header">
            <div class='ui-userbox'>
                <!-- Nombre -->
                <div id='menuLatNom' class='ui-userbox-name'>
                    <span class='title header-item'>Menu</span>
                </div>
            </div>
        </header>

        <!-- Pestañas -->
        <div class="tabs-top tabs-dark">
            <div class="tabs">
                <a class="tab-item" nav-clear menu-close href="#/app/home">
                    <i class="icon ion-home"></i>
                    Inicio
                </a>
                <a class="tab-item" menu-close href='#'>
                    <i class="icon ion-gear-a"></i>
                    Configuración
                </a>
                <a class="tab-item" nav-clear menu-close href="#">
                    <i class="icon ion-log-out"></i>
                    Salir
                </a>
            </div>
        </div>

        <!-- Opciones Menu -->
        <ion-content class="has-header has-tabs-top">
            <div class="item item-avatar">
                <img src="https://lh3.googleusercontent.com/-baCnzIwLEKA/AAAAAAAAAAI/AAAAAAAACUU/lS2ZPETfpmE/photo.jpg">

                <h2>Freddy</h2>

                <p>November 05, 1955</p>
            </div>
            <ion-item menu-close class='item-light' href="#/app/home">
                Inicio
            </ion-item>
            <ion-item menu-close class='item-light' href="#/app/migrupo">
                Mi Grupo
            </ion-item>
            <ion-item menu-close class='item-light' href="#/app/creargrupo">
                Crear Grupo
            </ion-item>

            <ion-item menu-close class='item-light' href="#/app/perfil">
                Mi Perfil
            </ion-item>

            <ion-item menu-close class='item-light' href="#/app/medicamentos">
                Grupo Administrador
            </ion-item>

        </ion-content>

    </ion-side-menu>

</ion-side-menus>