<ion-view title="Mi Comunidad">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-bar class="nav-bar  bar-calm">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding content-home has-header">
       
        <div class="perfil-img">
            <img src="img/user128.jpg">
        </div>

        <div class="list">
            <label class="item item-input">
                <input type="text" disabled placeholder="Nombre" value="Luis Ramos">
                <a href="javascript:;" class="item-edit tap icon-editar"></a>
            </label>

            <label class="item item-input">
                <input type="text" disabled  placeholder="Mail" Value="oxxfreddyxxo@gmail.com">
                <a href="javascript:;" class="item-edit tap icon-editar"></a>
            </label>

            <label class="item item-input">
                <input type="text" disabled  placeholder="Mail" Value="oxxfreddyxxo@gmail.com">
                <a href="javascript:;" class="item-edit tap icon-editar"></a>
            </label>
        </div>
        <a class="button disabled button-full button-balanced">
            Guardar
        </a>

       


                
    
        
    </ion-content>
    
</ion-view>
