@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?aqih41');
	src:url('fonts/icomoon.eot?#iefixaqih41') format('embedded-opentype'),
		url('fonts/icomoon.ttf?aqih41') format('truetype'),
		url('fonts/icomoon.woff?aqih41') format('woff'),
		url('fonts/icomoon.svg?aqih41#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-asterisk-mi-comunidad:before {
	content: "\e608";
}
.icon-family-mi-comunidad:before {
	content: "\e609";
}
.icon-swipe-left-mi-comunidad:before {
	content: "\e60a";
}
.icon-swipe-right-mi-comunidad:before {
	content: "\e60b";
}
.icon-addphone-mi-comunidad:before {
	content: "\e603";
}
.icon-group-mi-comunidad:before {
	content: "\e604";
}
.icon-user-mi-comunidad:before {
	content: "\e605";
}
.icon-sad-mi-comunidad:before {
	content: "\e606";
}
.icon-smiling-mi-comunidad:before {
	content: "\e607";
}
.icon-micomunidad-mi-comunidad:before {
	content: "\e602";
}
.icon-incendio-mi-comunidad:before {
	content: "\e601";
}
.icon-ambulancia-mi-comunidad:before {
	content: "\e006";
}
.icon-robo-mi-comunidad:before {
	content: "\e600";
}
