<ion-view class="platform">
<div class="spinner-block">
                <ion-spinner></ion-spinner>
            </div>
    <ion-content class="padding">
        <div class="mensaje-icon">
            <i class="icon icon-micomunidad-mi-comunidad"></i>
                        
        </div>        
    </ion-content>
</ion-view>