h3.titulo {
	font-size:16px;
	color:$dark-gray;
	font-weight:normal;
	span {
		font-weight:bold;
	}
}
/*COMENTARIOS*/
.list-comentarios {
	background:#ECECEC;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.05);
	padding:16px;
  	color:#a1a1a1;
  	margin-bottom:16px; 
  	li.comentario {
  		position:relative;
  		& + .comentario {
  			margin-top: 16px;
  		}
  		.picture{
			width:50px;
			height:50px;
			display:block;
			position:absolute;
			top:0px;
			border-radius:50%;
		}
		.message {
			background:#fff;
			display:block;
			padding:13px;
			border-radius:2px;
			//box-shadow: 0 1px 1px rgba(0,0,0,.04);
			position:relative;
			:before {
				content:"";
				position:absolute;
				display:block;
				
				
				top:10px;
				margin-left:-6px;
					}
			span {
				color:#555;
  				font-weight:bold;
			}
		}
		&:nth-child(even) {
			.picture{
				right:0px;				
			}
			.message {
				margin-right: 66px;
				margin-left: 0;
				:before {
					border-left:6px solid #fff;
					border-top: 6px solid transparent;
					border-bottom:6px solid transparent;
					margin-right:-6px;
					right:0;
				}
			}

		}
		&:nth-child(odd) {
			.picture{
				left:0px;
			}
			.message {
				margin-left: 66px;
				:before {
					border-right:6px solid #fff;
					border-top: 6px solid transparent;
					border-bottom:6px solid transparent;
					margin-left:-6px;
					left:0;
				}
			}

		}
  	}
}
@mixin box-shadow-2($args1, $args2) {
    -webkit-box-shadow: $args1, $args2;
    -moz-box-shadow: $args1, $args2;
    box-shadow: $args1, $args2;
}
// Z-levels

.z-depth-1{
    @include box-shadow-2(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}
.z-depth-1-half{
    @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.z-depth-2{
    @include box-shadow-2(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}
.z-depth-3{
    @include box-shadow-2(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19));
}
.z-depth-4{
    @include box-shadow-2(0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21));
}
.z-depth-5{
    @include box-shadow-2(0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22));
}

.mensaje-icon {
	  text-align: center;
	  padding:34px 16px;
	.icon {
		font-size:60px;
	}
	h3 {
		color:$bittersweet;
		font-weight:normal;
		margin: 0px;
	}
	&.alerta {
		padding:16px 0;
		.spinner-block {
			text-align: center;
			.spinner {
				display: inline-block;
				padding: 0 16px;
				svg {
					width: 36px;
					height: 36px;
					stroke: $assertive;
					fill: $assertive;
				}
			}
		}
		.button-bar {
			.button {
				&.button-calm {
					font-size:40px;
					color:lighten($mint, 40)!important;
				}
			}
		}

	}
}

.angular-google-map-container { height: 180px; }




.card {
	margin:16px;
}

.login-logo {
	text-align:center;
	padding:16px;
	.icon {
		font-size:90px;
		color:#D7FFF5;
	}
	
}
.login {
	.list {
		&.list-inset {
			margin: 16px;
		}
		.item {
			&.item-input {
				.icon-req {
					color:#37BC9B;
					font-size:11px;
					margin-right:5px;
				}
			}
		}
		.msj {
			padding: 10px 16px;
			display: block;
			&.error {
				color:#FC6E51;
			}
		}
	}
	.msj-form {
		p {
			font-size:10px;
			.icon-req {
				color:#37BC9B;
				font-size:11px;
				margin-right:5px;
			}
		}
	}
}

.list-inset {
	margin:0 16px;
}

.home-card {
	background:$mint-dark;
	border-radius:0;
	@extend .z-depth-1;
	.item {
		background:$mint-dark;
		border: none;
		.icon {			
			color:darken($mint, 20);
		}
		h3 {
			margin: 0 0 5px 0;
			font-size:16px;			
			color:lighten($mint, 40);
		}
		p {
			color:lighten($mint, 40);
			margin: 0;
			line-height:120%;
			i {
				font-size:11px;
				color:lighten($mint, 20);
			}
		}
	}
}

.spinner-block {
	text-align: center;
	.spinner {
		display: inline-block;
		padding: 16px;
		svg {
			width: 36px;
			height: 36px;
			stroke: #444;
			fill: #444;
		}
	}
}

.list-swipe {
	.list {
		.item {
			&:nth-child(1) {
				.item-content {
					&:before {
						font-family: 'icomoon';
						content: "\e60a";
						position: absolute;
						color:$calm;
						right: 16px;
						top: 16px;
						font-size: 45px;
						z-index: 99;
						line-height: 100%;
						@extend .animated;
						-webkit-animation-duration: 3s;
						animation-duration: 3s;
						-webkit-animation-name: fadeOutLeft;
  						animation-name: fadeOutLeft;
					}
				}
			}
		}		
	}
}

.list-mi-grupo {
	.list {
		.item {
			@extend .z-depth-2;
			border-color:$grass-dark;
			.item-content {
				background:lighten($grass-dark, 5);
				.icon {
					color:#fff;
					color:lighten($grass, 30);
				}
				h2 {
					color:darken($grass, 40);
				}
			}
			&:nth-child(2) {
				.item-content {
					background:lighten($grass-dark, 10);
				}
			}
			&:nth-child(3) {
				.item-content {
					background:lighten($grass-dark, 15);
				}
			}
			&:nth-child(4) {
				.item-content {
					background:lighten($grass-dark, 20);
				}
			}
		}	
		
	}
}

//mi perfi
.perfil-img {
	border-radius: 50%;
	text-align: center;
	width: 100px;
	height: 100px;
	margin: 16px auto;
	@extend .z-depth-2;
	img {
		width:100px;
		height:100px;
		border-radius:50%;
		display: inline-block;
		
	}

}

.item {
	&.item-input {
		position:relative;
		padding-right:16px;
		input:disabled {
			background:#fff;
		}
		.item-edit {
			position:absolute;
			right:0px;
			top:50%;
			margin-top:-($tab-area / 2);
			color:$medium-gray;
		}
	}
}

//BOTONES
.tap {
	color:#708191;
	width:$tab-area;
	height:$tab-area;
	display:block;
	position:relative;
	&:before {
		content:"";
		text-align: center;
		display: block;
		width: $icon-size;
		height: $icon-size;
		position:absolute;
		top:50%;
		left:50%;
		margin-top: -($icon-size / 2);
		margin-left: -($icon-size / 2);
		
	}
	&:after {
		content:"";
		display: block;
		width: $tab-area + 4 ;
		height: $tab-area + 4;
		position:absolute;
		top:-2px;
		left:-2px;
	}
	&.guias {
		//guias de ayudas
		background: rgba(0, 0, 0, 0.21);
		&:before {
			background: rgba(0, 0, 0, 0.21);
		}
		&:after {
			background: rgba(0, 0, 0, 0.21);
		}
		
	}
	&.icon-editar {
		background-size: $icon-size;
		background-position:0 0;
		background-repeat: no-repeat;
		&:before {
			font-family: "Ionicons";
			content:"\f2bf";
			font-size:$icon-size;				
		}
	}
	&.icon-close {
		background-size: $icon-size;
		background-position:0 0;
		background-repeat: no-repeat;
		&:before {
			font-family: "Ionicons";
			content:"\f128";
			font-size:$icon-size;				
		}
	}
	&.icon-right {
		background-size: $icon-size;
		background-position:0 0;
		background-repeat: no-repeat;
		&:before {
			font-family: "Ionicons";
			content:"\f125";
			font-size:$icon-size;				
		}
	}
}
$platform-spinner: 100px;
.platform {
	background: $mint;
	.mensaje-icon {
		.icon {
			color:lighten($mint, 30);
			font-size:80px;
		}
	}
	.spinner-block {
		text-align: center;
		position:fixed;
		top:50%;
		left:50%;
		margin-top:-($platform-spinner / 2);
		margin-left:-($platform-spinner / 2);
		width: $platform-spinner;
		height: $platform-spinner;
		.spinner {
			display: inline-block;
			padding: 0;
			svg {
				width: $platform-spinner;
				height: $platform-spinner;
				stroke: lighten($mint, 30);
				fill: lighten($mint, 30);
			}
		}
	}
}