.btn-floating {
	border-radius: 50%;
	border: none;
	width: $width-btn-floating;
	height: $width-btn-floating;
	position:fixed;
	top: auto;
    right: 16px;
    bottom: 44px + 16px;
    left: auto;
    z-index: 20;
    font-size:$width-btn-floating;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    &::before {
    	font-size:$width-btn-floating / 2!important;
    	line-height:$width-btn-floating;
    }
    &.btn-big {
    	width: ($width-btn-floating * 2 ) - ($width-btn-floating / 2);
		height: ($width-btn-floating * 2 ) - ($width-btn-floating / 2);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&::before {
			font-size: (($width-btn-floating * 2 ) - ($width-btn-floating / 2)) / 2!important;
		}
    }
   
}

