<ion-view title="Mi Comunidad">
	<ion-nav-buttons side="right">
		<button	tton menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-bar class="nav-bar  bar-positive">
		<ion-nav-back-button class="nav-button"></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="padding content-home has-header">

	<h3>Buscar Grupo</h3>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>			
		</div>
		<div class="list">
			<div class="item item-divider">
				Resultado Grupos
			</div>		
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-person-stalker"></i>
				Nombre Grupo
				<i class="icon ion-chevron-right"></i>				
			</a>
			<div class="item item-divider">
				Resultado Usuarios
			</div>

			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-person"></i>
				Nombre Usuario
				<i class="icon ion-chevron-right"></i>				
			</a>			
		</div>
	</ion-content>
</ion-view>
