<ion-view title="Mi Comunidad">
    <ion-nav-buttons side="right">
        <button tton menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-bar class="nav-bar  bar-calm">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding content-home has-header">
        <div>Crear Grupo</div>

        <form name="crearGrupoForm" novalidate form-manager>
            <div class="list list-inset">

                <label class="item item-input" ng-show="visible">
                    <input type="text" placeholder="Nombre" ng-model="grupo.grupo_nombre">
                </label>

                <label class="item item-input item-select" ng-show="visible">
                    <div class="input-label">
                        Tipo
                    </div>

                    <select ng-model="tipoGrupoSeleccionado" ng-options="tipo.tg_nombre for tipo in tipoGrupo" ng-change="grupoSeleccionado(tipoGrupoSeleccionado)"></select>
                </label>

                <label class="item item-input" ng-if="nombreTipoGrupo === 'vecinal'" ng-show="visible">
                    <input type="text" placeholder="Dirección" ng-model="grupo.grupo_direccion">
                </label>

                <label class="item item-input" ng-if="nombreTipoGrupo === 'vecinal'" ng-show="visible">
                    <input type="text" placeholder="Número" ng-model="grupo.grupo_numero">
                </label>


                <label class="item item-input" ng-show="nombreTipoGrupo === 'vecinal'">
                    <input type="text" placeholder="Comuna" ng-model="grupo.comuna" ng-change="buscarComuna()">
                </label>


                <div class="list">
                    <li href="#" class="item" ng-repeat="com in matchComuna" ng-click="seleccionComuna(com)">
                        {{com.comuna_nombre}}
                    </li>
                </div>
            </div>
        </form>

        <button class="button button-full button-balanced" ng-show="visible" ng-click="crearGrupo(crearGrupoForm)">Crear Grupo</button>
    </ion-content>
</ion-view>
