<ion-view title="MiComunidad">
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-bar class="nav-bar  bar-calm">
		<ion-nav-back-button class="nav-button"></ion-nav-back-button>
	</ion-nav-bar>
	

	<button class="button button-assertive icon ion-alert-circled btn-floating  z-depth-2"  on-hold="onHold()" on-tap="openModal()" ng-class="{'btn-big':btnScale,'btn-big':!btnScale,}"></button>


	<ion-content class="content-home has-header ">
		<div class="home-card" on-swipe-left="onSwipeLeft()" >
			<div class="item item-icon-left item-icon-right item-text-wrap">
				<i class="icon icon-family-mi-comunidad  dark"></i>
				<h3>Condominio Carlos Mondaca</h3>
				<p><i class="ion-calendar"></i> 60 Dias sin eventos</p>
				<p><i class="icon-user-mi-comunidad"></i> 8 Miembros</p>
				<i class="icon ion-chevron-right"></i>
			</div>
		</div>

		<!--<div class="card home-card">
			<div class="item item-icon-left item-text-wrap">
				<i class="icon ion-home  dark"></i>
				<h3>Familia Ramos</h3>
				<p>60 Dias sin eventos</p>
			</div>
		</div>-->


		<div class="mensaje-icon">
			<i class="icon icon-sad-mi-comunidad assertive"></i>
			<h3>Aun no estas protegido</h3>
			<p>Hagamos algo al respecto</p>
		</div>


		

		<div class="padding">
		<a class="button button-block button-balanced" href="#/app/creargrupo">
			<i class="ion-person-stalker"></i> Crear Grupo
		</a>

		<a class="button button-block button-stable" href="#/app/buscargrupo">
			<i class="ion-search"></i> Buscar Grupo
		</a>
		</div>

		<button class="button button-block button-dark" ng-click="identifyUser()">
		Identify a user
		</button>

		<button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
		Register for Push
		</button>

		<div class="padding">

			<h3>Alerta Activa</h3>

			<ul class="list-comentarios">
				<li class="comentario">
					<img class="picture" src="img/user1.jpg">
					<div class="message z-depth-2">
						<span><strong>Luis Ramos</strong></span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<small>Hace 2 Horas</small>
					</div>
				</li>
				<li class="comentario">
					<img class="picture" src="img/user128.jpg">
					<div class="message z-depth-2">
						<span><strong>Luis Ramos</strong></span>
						<p>Inventore doloremque esse veritatis perferendis officia accusamus amet rerum aperiam aliquid nemo. </p>
						<small>Hace 2 Horas</small>
					</div>
				</li>
				<li class="comentario">
					<img class="picture" src="img/user8.jpg">
					<div class="message z-depth-2">
						<span><strong>Luis Ramos</strong></span>
						<p>Aperiam, veritatis cum nobis quisquam iste molestias laborum et impedit fuga alias at sapiente dolorem voluptatum beatae molestiae, voluptas eaque! In, provident.</p>
						<small>Hace 2 Horas</small>
					</div>
				</li>
			</ul>
			<div class="spinner-block">
				<ion-spinner></ion-spinner>
			</div>
			<div class="padding">
				<div class="list">			
					<label class="item item-input">
						<textarea placeholder="Comments"></textarea>
					</label>
				</div>
				<a class="button button-full button-balanced" href="#/app/creargrupo">
					Comentar
				</a>
			</div>
		</div>


		
		


		

		




	</ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Alarma Activa</h1>
    </ion-header-bar>
    <ion-content class="padding">
    	<div class="mensaje-icon alerta">
			<i class="icon ion-ios-bell-outline assertive"></i>
			<div class="spinner-block">
				<ion-spinner icon="dots"></ion-spinner>
			</div>
			<h3>Enviando en {{counter}}</h3>

			<div class="padding">
				<a class="button button-block button-outline button-stable" ng-click="closeModal()">
					<i class="icon ion-android-notifications-off "></i> Cancelar Alarma
				</a>
			</div>

			

    		
			<p>Especificar Alarma</p>
			<div class="button-bar">
				<a class="button button-assertive icon icon-robo-mi-comunidad"></a>
				<a class="button button-assertive icon icon-ambulancia-mi-comunidad"></a>
				<a class="button button-assertive icon icon-incendio-mi-comunidad"></a>
			</div>
    	
    </div>
    	
    </ion-content>
  </ion-modal-view>
</script>
	