<ion-view title="Mi Comunidad">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-bar class="nav-bar  bar-calm">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class=" content-home has-header">
        <div class="home-card">
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-home"></i>
                <h3>Condominio Carlos Mondaca</h3>
                <p><i class="ion-calendar"></i> 60 Dias sin eventos</p>
                <p><i class="icon-user-mi-comunidad"></i> 8 Miembros</p>
            </div>
        </div>

      
        <ui-gmap-google-map  center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" icon= '{url: "img/home.svg" }'  idkey="marker.id"></ui-gmap-marker>

            <ui-gmap-marker ng-repeat="marker in markerUser" coords="marker.coords" idkey="marker.id" icon='{url: "img/marker.svg" }'></ui-gmap-marker>      
        </ui-gmap-google-map>

        
            <ion-list class="list-mi-grupo">
                <ion-item class="item-icon-left item-icon-right" href="#/app/migrupousuarios">
                    <i class="icon icon-group-mi-comunidad"></i>
                    <h2>Usuarios</h2>
                    <p>12 Participantes</p>
                    <i class="icon ion-chevron-right"></i> 
                </ion-item>

                <ion-item class="item-icon-left item-icon-right" href="#/app/confirmarusuarios">
                    <i class="icon icon-group-mi-comunidad"></i>
                    <h2>Usuarios Por Confirmar</h2>
                    <p>2 Solicitudes</p>
                    <i class="icon ion-chevron-right"></i> 
                </ion-item>

                <ion-item class="item-icon-left item-icon-right" href="#/app/migrupotelefonos">
                    <i class="icon ion-ios-telephone"></i>
                    <h2>Numeros Inportantes</h2>
                    <p>2 Registros</p>
                    <i class="icon ion-chevron-right"></i> 
                </ion-item>
            </ion-list>
        
    </ion-content>
</ion-view>
