<ion-view title="Mi Comunidad">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-bar class="nav-bar  bar-calm">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="content-home has-header">
         <div class="home-card">
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-home"></i>
                <h3>Condominio Carlos Mondaca</h3>
                <p>Miembros del grupo</p>
            </div>
        </div>
   
        <ion-list class="list-swipe">
            <ion-item ng-repeat="user in users" class=" item-avatar">
                <img src="img/{{user.avatar}}">                
                <h2>{{user.name}}</h2>
                <p>{{user.adress}}</p>               
                <ion-option-button class="icon button-assertive ion-trash-a"></ion-option-button>
            </ion-item>
        </ion-list>

       
    </ion-content>   
</ion-view>
