<ion-view title="Mi Comunidad">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-bar class="nav-bar  bar-calm">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="content-home has-header has-footer">
        <div class="home-card">
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-home"></i>
                <h3>Condominio Carlos Mondaca</h3>
                <p>Usuarios por confirmar</p>
            </div>
        </div>       
        <ion-list>
            <ion-item ng-repeat="user in users" class="item-checkbox item-avatar">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox">
                </label>
                <h2>{{user.name}}</h2>
                <p>{{user.adress}}</p>               
                
            </ion-item>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-balanced">Confirmar Usuarios</button>
        </div>
    </ion-content>
</ion-view>
