<ion-view title="Mi Comunidad">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-bar class="nav-bar  bar-calm">
        <ion-nav-back-button class="nav-button"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="content-home has-header">
        <div class="home-card">
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-home"></i>
                <h3>Condominio Carlos Mondaca</h3>
                <p>Telefonos Importantes</p>
            </div>
        </div>
    
        <ion-list>
            <ion-item ng-repeat="telefono in telefonos" class=" ">
                
                
                <h2>{{telefono.titulo}}</h2>
                <p>{{telefono.contacto}}</p>
                <p>{{telefono.telefono}}</p>               
                <ion-option-button class="icon ion-edit"></ion-option-button>
                <ion-option-button class="icon ion-trash-a button-assertive"></ion-option-button>
            </ion-item>
        </ion-list>
        <div class="padding">
            
        </div>
    </ion-content>
    <button ng-click="addPhone()" class="button button-assertive icon  icon-addphone-mi-comunidad btn-floating  z-depth-2"></button>
</ion-view>
