<div class="modal" style="background:#48CFAD;">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Nuevo Numero</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePhone()"><i class="ion-android-close"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header padding">
    	<div class="list list-inset padding">
		<label class="item item-input item-stacked-label item-cont-base">
			<span class="input-label">Titulo</span>
			<input type="text" placeholder="Ej: Plan Cuadrante">
		</label>
		<label class="item item-input item-stacked-label item-cont-base">
			<span class="input-label">Nombre Contacto</span>
			<input type="text" placeholder="Ej: Cabo Alejandro Lillo">
		</label>
		<label class="item item-input item-stacked-label item-cont-base">
			<span class="input-label">Telefono</span>
			<input type="text" placeholder="Ej: +56 9 111 22 33">
		</label>
		
			<button ng-click="closePhone()" class="button button-block button-positive">
				Guardar
			</button>
		
		</div> 						
	</ion-content>	
</ion-view>